<!DOCTYPE html>
<html>
<head>
  <title>CryptoWallet</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body class="bg-slate-50 text-slate-900">
<header class="w-100 p-5 flex justify-between shadow-md">
  <strong class="block text-lg">
    <%= link_to "CryptoWallet", "/" %>
  </strong>
  <div>
    <ul class="flex gap-5">
      <li>
        <%= link_to "Coins", coins_path %>
      </li>
      <li>
        <%= link_to "Mining Types", mining_types_path %>
      </li>
    </ul>
  </div>
</header>
<main class="container mx-auto mt-28 px-5">
  <%= yield %>
</main>
</body>
</html>
