<p style="color: green"><%= notice %></p>

<h1>Coins</h1>

<table id="coins">
  <thead>
  <tr>
    <th>
      Description:
    </th>
    <th>
      Acronym:
    </th>
    <th>
      Image:
    </th>
    <th>
      Mining Type:
    </th>
  </tr>
  </thead>
  <tbody>
  <% @coins.each do |coin| %>
    <tr>
      <td>
        <%= coin.description %>
      </td>
      <td>
        <%= coin.acronym %>
      </td>
      <td>
        <%= image_tag coin.url_image, width: 25 %>
      </td>
      <td>
        <%= coin.mining_type.description %>
      </td>
      <td>
        <%= link_to "Show this coin", coin %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to "New coin", new_coin_path %>
